body {
	margin: 0;
	padding: 5em 20em;
	background-color: #2c2c36;
}

.main-menu {
	display: flex;
	justify-content: space-between;
	box-shadow: 6px 6px 43px -13px rgba(0,0,0,0.88);
}

.menu-item {
	width: 20%;
	padding: 2em;
	color: white;
	font-family: sans-serif;
	font-size: 1.1em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.16em;
	display: inline;
	background-color: #33333d;
}